<launch>
  
  <arg name="model" default="QuadrotorAlpha"/>
  <arg name="mocap_type" default="qualisys"/>

  <!-- Launch vicon odometry node -->
  <group>
    <include file="$(find mocap_qualisys)/launch/qualisys.launch">
      <arg name="model" value="$(arg model)" />
      <remap from="qualisys/$(arg model)/odom" to="/$(arg model)/odom"/>
    </include>
  </group>

</launch>